{% extends "base.html" %}
{% load static %}
{% block extra_title %}| CHECKOUT {% endblock %}

{% block content %}
    {% include 'checkout/includes/product_checkout.html' %}
    {% include 'checkout/includes/loading_overlay.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/form_validation.js' %}"></script>
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}


