/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#profile-update-form .form-control {
    color: #000;
    background-color: #fff;
}

#profile-update-form input::-webkit-input-placeholder {
    color: #6b6b6b;
}

#profile-update-form input::-moz-placeholder {
    color: #6b6b6b;
}

#profile-update-form input:-ms-input-placeholder {
    color: #6b6b6b;
}

#profile-update-form input::-ms-input-placeholder {
    color: #6b6b6b;
}

#profile-update-form input::placeholder {
    color: #6b6b6b;
}

input:-internal-autofill-selected {
    background-color: #fff !important;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #6b6b6b;
}