/*-------------------------------------Special paddings/margins/text/sizes */ 
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Oswald';
    padding-bottom: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
}

ul {
    margin-bottom: 0px;
}

.nav-link {
    padding: 5px 3px;
}

.icons {
    font-size: 15px;
}


/*------------------------------------- background colours */ 
.bg-black {
    background-color: #000 !important;
}

/*------------------------------------- Text colours */ 
.text-black {
    color: #000 !important;
}

/*------------------------------------- Searchbar */ 
.searchbar {
    font-size: 15px;
    border: 0px;
    border-bottom: 1px solid black;

}

.searchbutton {
    border: 0px;
    background-color: #fff;
}

input[name='q']::placeholder {
    color: #aab7c4;
}