{% load bag_tools %}

<div class="row">
    <div class="col pt-4">
        <h2 class="text-black text-uppercase text-center" >Shopping bag</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if bag_items %} 
            <!-- Mobile -->
            <div class="d-block d-md-none d-lg-none d-xl-none">
                <div class="row px-2 pt-3">
                    <div class="col">
                        {% include 'bag/includes/bag_total.html' %}
                    </div>     
                </div>
                <div class="row pb-2">
                    <div class="col">
                        {% include 'bag/includes/checkout-buttons.html' %}
                    </div>
                </div>
                <hr>
                {% for item in bag_items %}
                <div class="row px-2 pb-2">
                    <div class="col-12 col-sm-6">
                        {% include 'bag/includes/product_img.html' %}
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include 'bag/includes/product_info.html' %}
                    </div>
                    <div class="col-12 col-sm-6 px-3">
                        <p class="my-0">Per piece: ${{ item.product.price }}</p>
                        <p class="my-0">Subtotal ${{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include 'bag/includes/set_quantity.html' %}
                    </div>
                    <div class="col-12 col-sm-6 text-center pb-2">
                        {% include 'bag/includes/remove_product.html' %} 
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
            <!-- Desktop -->
            <div class="table-responsive pt-3 d-none d-md-block d-lg-block d-xl-block">
                <table class="table text-black">
                    <thead class="text-uppercase">
                        <tr>
                            <th scope="col">Prints</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                        <tbody>
                            <tr>
                                <td>
                                   {% include 'bag/includes/product_img.html' %}
                                </td>
                                <td>
                                    {% include 'bag/includes/product_info.html' %}
                                </td>
                                <td>
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td>
                                    {% include 'bag/includes/set_quantity.html' %}
                                </td>
                                <td>
                                    <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                                <td>
                                    {% include 'bag/includes/remove_product.html' %}   
                                </td>
                            </tr>
                    {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-end">
                                    {% include 'bag/includes/bag_total.html' %}
                                </td>         
                            </tr>
                        </tbody>
                </table>
                <div class="col pe-5 pb-3 text-end">
                    {% include 'bag/includes/checkout-buttons.html' %}
                </div>    
            </div>  
        {% else %}
            <hr>
            <h4 class="text-black uppercase ps-4">Your bag is empty.</h4>
            <p class="uppercase ps-4 pb-4"><a class="text-black" href="{% url 'products' %}">Go back to all prints</a></p>
        {% endif %}
    </div>
</div>