<div class="row pb-5">
    <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel-img active">
                    <img src="https://prnts.s3.eu-west-3.amazonaws.com/media/mountain.jpg" class="d-block w-100" alt="mountain">
                    <div class="carousel-caption my-auto">
                        <h3 class="uppercase text-black">The latest trends</h3>
                        <a class="text-black text-uppercase" href="{% url 'products' %}"><p>Shop now ></p></a>
                    </div>
                </div>
                <div class="carousel-item carousel-img">
                    <img src="https://prnts.s3.eu-west-3.amazonaws.com/media/greenpat.jpg" class="d-block w-100" alt="green patterns">
                    <div class="carousel-caption my-auto">
                        <h3 class="uppercase text-black">Get to know the company</h3>
                        <a class="text-black text-uppercase" href=""><p>Check it out > </p></a>
                    </div>
                </div>
                <div class="carousel-item carousel-img">
                    <img src="https://prnts.s3.eu-west-3.amazonaws.com/media/jellyfish.jpg" class="d-block w-100" alt="jellyfish">
                    <div class="carousel-caption my-auto">
                        <h3 class="uppercase text-black">The B&W collection</h3>
                        <a class="text-black text-uppercase" href=""><p>Shop now ></p></a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>  